.sample {
    border: 1px solid gray;
    width: 800px;
    margin: 0 auto;
}

.user-title {
    margin-top: 100px;
}

.user-p {
    margin-bottom: 10px;
    font-family: 'TmoneyRoundWindExtraBold';
}

.name-alert {
    color:rgb(255, 81, 81);
}