/* User.js */
#User {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: center;
    padding-top: 10%;
}

#userForm {
    width: 40%;
    text-align: left;
    margin: 0 auto;
}

.user-title {
  font-family: 'TmoneyRoundWindRegular';
  text-align: center;
}

.gender {
    margin-bottom: 10%;
}

.gender-p {
    margin-bottom: 0.7%;
}

.gender-radio {
  display: flex;
}

.male {
    margin: 0 3%;
}

/* Intro.js */
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }

  h1 {
    font-family: 'TmoneyRoundWindRegular';
    text-align: left;
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 13px;
  }
  
  #choose-row {
    padding: 5%;
    text-align: center;
  }
  
  label {
      width: 100%;
  }
  
  #card-A {
    margin-right: 0;
  }

  #card-b {
    margin-left: 0;
  }


  .card-input-element {
      display: none;
  }
  
  .card-input {
        width: 300px;
        height: 300px;
        margin: auto;
        padding: 30px;
        border: 1px lightgray solid;
  }
  
  .card-input:hover {
      cursor: pointer;
  }
  
  .card-input-element:checked + .card-input {
       box-shadow: 0 0 1px 1px rgb(54, 179, 184);
   }

   #choose-btn {
        padding-left: 47%;
   }

   /* test.js */

  .test1-p {
    margin-top: 3em;
  }

  .row {
    width: 100%;
    height: 80%;
    flex-wrap: nowrap;
  }

  .col-6 {
    text-align: center;
  }

  #test1-qnum {
    display: inline-block;
    color: rgb(13, 110, 253);
    border-radius: 70%;
    width: 1.5em;
    height: 1.5em;
    margin-bottom: 0;
    margin-right: 0.5em;
}

  .test1-radio-wrap input {
    display: none;
  }

  .test1-radio-wrap label {
    /* border: black solid 1px; */
    border: 1px rgb(180, 230, 250) solid;
    width: 100%;
    height: 100%;
    padding-top: 17px;
  }

  .test1-radio-wrap input:checked + label {
    background-color: rgb(201, 235, 248);
  }

  .test1-col-A {
    padding-right: 0;
  }

  .test1-col-B {
    padding-left: 0;
  }

  .align-bottom {
    padding-right: 0;
    padding-top: 6%;
  }

  /*sample1.js*/
  .sample1-p {
    text-align: left;
    margin-top: 2rem;
  }

  .red {
    color: rgb(252, 52, 52);
    margin-left: 3rem;
  }

  #sample1 {
    text-align: center;
  }

  #sample1-table {
    text-align: left;
  }

  #sample1-question {
    display: flex;
    text-align: left;
    width: 100%;
    height: 80px;
    /* background-color: rgb(228, 228, 228); */
    margin: 30px auto;
    padding: 5px 50px;
  }

  #sample1-radio-wrap {
    width: 95%;
  }

  /*result.js*/
  #result1 {
    text-align: center;
  }

  h3 {
    font-family: 'TmoneyRoundWindRegular';
    text-align: left;
    margin: 3% 0 3% 3%;
  }

  .result1-desc {
    font-family: 'TmoneyRoundWindRegular';
    text-align: left;
    margin-left: 8%;
    font-size: 1rem;
  }

  .value-standard {
      width: 14%;
  }

  img {
    width: 60%;
    height: 55%;
    margin: auto;
  }
  
  .img {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-family: 'TmoneyRoundWindRegular';
    width: 20%;
    /* border: 1px solid;
    border-radius: 40%; */
  }

  #value-p {
    margin-top: 0.5rem;
    padding-bottom: 0;
  }

  #value-table {
    text-align: left;
    width: 80%;
  }

  #value-row {
    width: 80%;
    height: 80%;
    flex-wrap: nowrap;
    margin: 0 auto;
    margin-bottom: 3%;
  }

  h5 {
    margin-left: 10%;
    margin-bottom: 1.2rem;
    font-family: 'TmoneyRoundWindRegular';
    text-align: left;
  }

  #result1-whole {
    text-align: center;
    max-width: 1050px;
  }

  #job-result1 table {
    text-align: left;
  }

  /*Sample2.js*/
.sample2-q {
  margin-left: 0;
}

#sample2-question {
  width: 80%;
  margin: 5% auto 5% auto;
}